<img
  class="absolute bg !h-auto lg:hidden"
  src="assets/images/bg-mobile.svg"
  alt="Background Mobile"
/>

<img
  class="hidden bg lg:block"
  src="assets/images/bg-desktop.svg"
  alt="Background Desktop"
/>

<header>
  <div class="container mt-8 md:mt-10">
    <a href="#">
      <img class="max-w-[150px]" src="assets/images/logo.svg" alt="Logo" />
    </a>
  </div>
</header>

<main class="relative flow-root text-white mt-20 md:mt-40">
  <div
    class="container grid place-items-center gap-20 lg:grid-cols-2 lg:gap-20"
  >
    <img src="assets/images/illustration-mockups.svg" alt="Illustration" />

    <div class="grid place-items-center max-w-2xl lg:place-items-start">
      <div class="text-center lg:text-left">
        <h1 class="text-white text-3xl leading-10 lg:text-4xl">
          Build The Community Your Fans Will Love
        </h1>

        <p class="mt-4 text-lg font-medium">
          Huddle re-imagines the way we build communities. You have a voice, but
          so does your audience. Create connections with your users as you
          engage in genuine discussion.
        </p>
      </div>

      <a href="#" class="btn btn-basic btn-large mt-6 md:mt-10">Register</a>
    </div>
  </div>
</main>

<lbk-footer class="block my-20 md:my-32"></lbk-footer>
