<img
  class="absolute bg !h-auto lg:hidden"
  src="assets/images/bg-mobile.svg"
  alt="Background Mobile"
/>

<img
  class="hidden bg lg:block"
  src="assets/images/bg-desktop.svg"
  alt="Background Desktop"
/>

<header class="mt-8 lg:w-full md:mt-10">
  <div class="container">
    <a href="#">
      <img
        class="max-w-[150px] lg:max-w-[180px]"
        src="assets/images/logo.svg"
        alt="Logo"
      />
    </a>
  </div>
</header>

<main class="relative flow-root mt-20 text-white md:mt-40 lg:mt-24">
  <div class="container">
    <div
      class="relative grid gap-20 place-items-center lg:grid-cols-5 lg:gap-10"
    >
      <img
        class="lg:col-span-3"
        src="assets/images/illustration-mockups.svg"
        alt="Illustration"
      />

      <div
        class="grid max-w-2xl place-items-center lg:place-items-start lg:col-span-2"
      >
        <div class="text-center lg:text-left">
          <h1 class="text-3xl leading-10 text-white lg:text-4xl xl:text-[40px] xl:leading-[3rem]">
            Build The Community Your Fans Will Love
          </h1>

          <p class="mt-4 text-lg font-medium lg:mt-8">
            Huddle re-imagines the way we build communities. You have a voice,
            but so does your audience. Create connections with your users as you
            engage in genuine discussion.
          </p>
        </div>

        <a href="#" class="mt-6 btn btn-basic btn-large md:mt-10">Register</a>
      </div>
    </div>

    <lbk-socials class="block my-20 md:my-28 lg:mr-auto"></lbk-socials>
  </div>
</main>

<footer>
  <lbk-author class="z-50 block lg:fixed lg:w-full lg:bottom-2"></lbk-author>
</footer>
